// colors
$backLigth: #f4f4f4;
$backDark: #333;
$backFooter: #efefef;
$backFooterDark: #2f2f2f;
$primaryColor: #151515;
$secondaryColor: #222;
$secondaryColorDark: #e5e5e5;
$thirdColor: #c4c4c4;
$fourthColor: #cfcfcf;
$fourthColorDark: #676767;
$fifthColor: #ebebeb;
$fifthColorDark: #434343;
$whiteColor: #fff;
$buttonColor: #24B47E;
$buttonHoverColor: #319E75;
