.footer__input-submit {
  background-color: $backFooter;
  border: none;
  text-transform: lowercase;
  color: $primaryColor;
  font-size: 13px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  cursor: pointer;
  display: none;
}