.note__author {
  max-width: 470px;
  color: var(--primaryColor);
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  align-self: end;
}
.note__author::after {
  color: var(--secondaryColor);
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  display: block;
  content: 'Велогонщик';
}
@media screen and (max-width: 720px) {
  .note__author {
    margin: 40px 0 0;
    font-size: 14px;
    line-height: 22px;
    margin-right: auto;
  }
  .note__author::after {
    font-size: 10px;
    line-height: 16px;
  }
}